*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
}

form{
    background-color: #f2f2f2;
    margin: 20px 30px;
    padding: 10px;
}

.container
{
    color:black;
}

fieldset{
    border-color: rgb(178, 180, 57);
}